.divLoader {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    max-width: 5rem;
    max-height: 5rem;
    height: 100%;
}

.loader {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    aspect-ratio: 1/1;
    border-radius: 50%;
    border-color: #0057FF;
    border-left: solid;
    border-width: 0.2rem;
    animation: rotation 1.5s infinite linear;
}

@keyframes rotation {
    from {
        border-color: #0057FF;
        transform: rotate(0deg);
    }

    50% {
        border-color: red;
        transform: rotate(180deg);
    }

    to {
        border-color: #0057FF;
        transform: rotate(360deg);
    }
}

.loaderMini {
    height: 80%;
    aspect-ratio: 1/1;
    border-radius: 50%;
    border-color: #0057FF;
    border-left: solid;
    border-width: 0.2rem;
    animation: rotationMini 1.5s infinite linear;
}

@keyframes rotationMini {
    from {
        border-color: #0057FF;
        transform: rotate(0deg);
    }

    50% {
        border-color: red;
        transform: rotate(-360deg);
    }

    to {
        border-color: #0057FF;
        transform: rotate(-720deg);
    }
}