.modal{
    height: 100vh;
    width: 100vw;
    backdrop-filter: blur(10px);
    position: fixed;
    top:0;
    left:0;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    pointer-events: none;
    transition: 0.5s;
}
.modalContent{
    padding: 1rem;
    border-radius: 2rem;
    background-color: white;
    transform: scale(0.5);
    transition: 0.4s all;
}

.modal.active{
    opacity: 1;
    pointer-events: all;
}
.modalContent.active{
    transform: scale(1);
}