.groupPanel {
    border: solid 0.2rem #0057FF;
    border-radius: 2rem;
    background-color: #DEE9FF;
    height: 25%;
    width: 100%;
}
.title{
    height: 49%;

}
.title>*{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.2rem;
}
h1{
    margin: 0;
    padding: 0;
}

.groupList{
    height: 47%;
    overflow-y: scroll;
    border-radius: 0 0 2rem 2rem;
    padding: 0.2rem 0;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

.groupList::-webkit-scrollbar {
    display: none;
}
.groupsDiv{
    text-align: center;
    height: 30%;
    width: 70%;
    margin: 0.5%;
    padding: 0.01rem 1rem;
    color: #4E4E4E;
    font-size: 65%;
    font-weight: bold;
    background-color: #ECECEC;
    border-radius: 0.5rem;
    box-shadow: 0px 1px 7px #414141;
    border: 1px solid #414141;
    cursor: pointer;
}

.groupsDiv:hover {
    color: white;
    background-color: #4E4E4E;
}

.groupsDiv:active {
    box-shadow: 0px 1px 6px #444444;
    background: #444444;
    border: 1px solid #444444;
}
