header {
    background-color: #0057FF;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0.5rem;
}
.navLogout{
    width: 100%;
    margin: auto;
    max-width: 1500px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.2rem;
    gap: 1rem;
}