.inputDiv {
    width: 100%;

}

.inputDiv>input {
    font-size: 0.8rem;
    width: 100%;
}

.inputDiv>label {
    font-size: 0.9rem;
    width: 100%;
}

.myInput {
    width: 100%;
    padding: 0.4rem 0.8rem;
    margin: 0.2rem 0;
    border: 1px solid #0057FF;
    border-radius: 1rem;
}

.validationErr {
    border: 1px solid #e30000;
    box-shadow: 2px 1px 10px #e30000;
}

.myInput:focus {
    box-shadow: 2px 1px 10px #0057FF;
}

.validationErr:focus {
    box-shadow: 2px 1px 10px #e30000;
}