* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Montserrat;
    user-select: none;
}

h1 {

    font-weight: bold;
    font-size: 2.5rem;
    color: #0057FF;
    text-align: center;
    margin: 0.5rem 0px;
}

h2 {

    font-weight: bold;
    font-size: 2rem;
    color: #3f3f3f;
}

h4 {
    font-weight: bold;
    font-size: 1.1rem;
    color: #3f3f3f;
}

p {
    font-weight: 400;
    font-size: 1rem;
    color: #3f3f3f;
}

label {

    font-weight: bold;
    font-size: 1.1rem;
    color: #3f3f3f;
}

input {
    font-weight: 500;
    font-size: 1.1rem;
    color: #3f3f3f;
    outline: none
}

#root {}



@font-face {
    font-family: "Montserrat";
    src: local("Montserrat-VariableFont_wght"),
        url("./Fonts/Montserrat-VariableFont_wght.ttf") format("truetype");
}